<!-- backend/views/users.ejs -->
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <title>Edzőink</title>
        <link
            rel="stylesheet"
            href="/css/index.css"
        />
    </head>
    <body>
        <%- include('nav') %>

        <h1>Quater Edző Csapat!</h1>
        <p><a href="/api/new-trainer">Új edző felvétele</a></p>

        <ul id="trainers-list">
            <% trainers.forEach(element => { %>
            <p>Név: <%= element.nev %></p>
            <p>Elérhetőség: <%= element.elerhetoseg %></p>
            <img
                src="<%= element.kep %>"
                alt=""
            />
            <a class="modosit" href="/api/trainers-backend/<%= element._id %>">Módosítás</a>
            <button class="torol" onclick="torles('<%= element._id%>')">Törlés</button>
            <% }) %>
        </ul>
        <script src="/js/trainer-kezel.js"></script>
    </body>
</html>
